<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arvin.dao.ColorMapper" >
    <resultMap id="BaseResultMap" type="com.arvin.pojo.Color" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
        id, color_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.arvin.pojo.Color">
      insert into arvin_color (color_name) values (#{name})
    </insert>
    <select id="selectByColorName" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from arvin_color
        where color_name = #{name}
    </select>


</mapper>